* {
  box-sizing: border-box;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif 
}

a{
  margin: 10px;
}

body{
  padding: 20px;
}
form{
  margin-left: 25%;
  margin-right: 25%;
}
input, button, select{
  margin: 5px;
  height: 30px;
  width: 200px;
}

.list, .add-item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toDoItem{
  margin: 5px;
  height: 30px;
  width: 200px;
  border:solid 1px grey;
  padding: 5px;
  text-align: center;
}

.toDoItem:hover, button:hover {
  border:solid 3px grey;
  cursor: pointer;
  border-radius: 3px;
  transform:translateY(2px)
}

.urgent{
  color: #9C1615;
  font-weight: 900;
}

.high{
  color: #B2171B;
}

.medium{
  color: #D92830;
}

.low{
  color: purple;
}

.completed, .completed:hover {
  border:none;
  background-color: grey;
  cursor: default;
  color: black;
  transform: none;
}